
  html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color:$color-black;
    color: $color-white;
  }
  li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }
  .container {
    max-width: 1170px;
    margin: 0 auto;
  }
  .row,.column, .align-center, .space-between {
    display: flex;
  }
  .row{
    flex-wrap: wrap;
  }
  .column {
    flex-direction: column;
  }
  .align-center {
    align-items: center;
  }
  .space-between {
    justify-content: space-between;
  }
  .col-1 {
    width: 8.333%;
  }
  .col-2 {
    width: 16.6666%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.3333%;
  }
  .col-5{
    width: 41.6666%;
  }
  .col-6 {
    width: 50%;
  }
  .col-8{
    width: 75%;
  }
  .col-10 {
    width: 83.34%;
  }
  .btn {
    cursor: pointer;
  }
  .orange{
    color:$color-orange;
  }
  .section__title{
    @include font(48px, 500, 1.5, $font-choco);
    text-align:center;
  }