/*COLOR
=============================*/

$color-orange:#E2B024;
$color-lightDark:#18191A;
$color-white:#FFFFFF;
$color-black:#000;
$color-lightdark:#18191A;

/*FONTS
=============================*/

$font-poppins:"Poppins", sans-serif;
$font-choco:"ChocolateBox", sans-serif;
 
