@import "../global";
.new{
    background-color: $color-lightDark;
    width: 100%;
    &__row {
      padding: 267px 0;
      align-items:center;
    }
    &__item--left {
    }
    &__suptitle {
      @include font(20px, 400, 1,$font-poppins);
      color: $color-white;
      letter-spacing: 10px;
    }
    &__title {
      @include font(74px, 400, 1,$font-choco);
      color: $color-orange;
      margin:47px 0 8px;
    }
    &__subtitle {
      @include font(36px, 400, 1.5,$font-poppins);
      color: $color-white;
    }
    &__description {
      @include font(18px, 200, 1.8, $font-poppins);
      color: $color-white;
      margin: 52px 0;
            max-width:450px;

    }
    &__buttons {
      .new__button:first-child {
        margin-right: 60px;
      }
    }
    &__item--right{
      display:flex;
      justify-content:center;
      align-items:center;
     
    }
    &__right{
      position:relative;

    }

    &__circle{
    position:absolute;
    bottom:15%;
    }
     &__arrows {
      .slider__prev,
      .slider__next {
        border-bottom: 2px solid $color-white;
        color: $color-white;
        outline:none;
        @include font(24px, 500, 1.2, $font-poppins);
        cursor: pointer;
        transition: 0.3s;
        &:hover{
          color: $color-orange;
          border-bottom:2px solid $color-orange
        }
      }
      .slider__prev {
        left:0;
        transform: translateX(-50%);
        bottom: 48%;
      }
      .slider__next {
        right: -2%;
        bottom: 48%;
      }
    }

  .swiper-pagination-bullet{
    background-color:red;
    width:15px;
    height:15px;    
  }}

