@import "../global";
.offer {
  padding-bottom:100px;
  &__title {
    margin: 150px 0 135px;
  }
   &__item {
    position: relative;
    margin:0 15px;
   }
   &__margin{
     margin:0 -15px;
   }
  &__info {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: $color-white;
    bottom: 0;
    left: 6%;
  }
  // &__opacity{
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   z-index: 8;
  //   background-color:$color-black;
  //   opacity: .7;
  //   width: 100%;
  //   height: 100%;
  //   transition: 0.3s;
  // }
  &__name {
    @include font(24px, 400,1.5, $font-choco);
    line-height: 1.5;
  }
  &__price {
    @include font(36px, 700, 1.5, $font-choco);
    line-height: 54px;
  }
  &__wine{
    width:100%;
    height:100%;
  }

}