/*COLOR
=============================*/
/*FONTS
=============================*/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #000;
  color: #FFFFFF;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.row, .column, .align-center, .space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col-1 {
  width: 8.333%;
}

.col-2 {
  width: 16.6666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333%;
}

.col-5 {
  width: 41.6666%;
}

.col-6 {
  width: 50%;
}

.col-8 {
  width: 75%;
}

.col-10 {
  width: 83.34%;
}

.btn {
  cursor: pointer;
}

.header {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  font-family: "Poppins";
  font-style: normal;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__slogan {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  font-family: "Poppins";
  font-style: normal;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons__item {
  margin-left: 36px;
}

.icons__item:first-child {
  margin: 0;
}

.icons__item:last-child svg {
  fill: #FFFFFF;
}

.icons__item svg {
  stroke: #FFFFFF;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 35px;
}

.list__item {
  margin-left: 46px;
}

.list__link {
  color: #FFFFFF;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  padding: 22px 0;
}

.menu__link {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #E2B024;
  font-size: 16px;
  font-weight: "ChocolateBox", sans-serif;
  line-height: 1;
  font-family: "Poppins";
  font-style: normal;
  border-bottom: 1px solid transparent;
}

.menu__link:hover {
  border-bottom: 1px solid #E2B024;
}
