@import "../../global";
.search{
  position:absolute;
  width:100%;
  right:23%;
  top:50%;
  transform:translateY(-50%);
  display:flex;
  justify-content:space-between;
  padding:0 20px;
  width:300px;
 
}