@font-face {
	font-family: 'ChocolateBox';
	src: url('../font/C_BOX_D.eot');
	src: local('☺'), url('../font/C_BOX_D.woff') format('woff'), url('../font/C_BOX_D.ttf') format('truetype'), url('../font/C_BOX_D.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}